<carousel [isAnimated]="true">
  <slide>
    <div class="carousel">
      <img
        src="assets/images/hero1.jpg"
        alt="slide"
        style="display: block; width: 100%"
      />
    </div>
    <div class="carousel-caption">
      <img
        src="/assets/images/logo.png"
        styles="pointer: true"
        alt="logo"
        style="max-height: 150px"
      />
      <p>Bringing life to your interior</p>
    </div>
  </slide>
  <slide>
    <div class="carousel">
      <img
        src="assets/images/hero2.jpg"
        alt="slide"
        style="display: block; width: 100%"
      />
    </div>
    <div class="carousel-caption">
      <img
        src="/assets/images/logo.png"
        styles="pointer: true"
        alt="logo"
        style="max-height: 150px"
      />
      <p>Bringing life to your interior</p>
    </div>
  </slide>
  <slide>
    <div class="carousel">
      <img
        src="assets/images/hero3.jpg"
        alt="slide"
        style="display: block; width: 100%"
      />
    </div>
    <div class="carousel-caption">
      <img
        src="/assets/images/logo.png"
        styles="pointer: true"
        alt="logo"
        style="max-height: 150px"
      />
      <p>Bringing life to your interior</p>
    </div>
  </slide>
</carousel>

<section class="features-area section_gap">
  <div class="container">
    <div class="row features-inner">
      <!-- single features -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-features">
          <div class="f-icon">
            <img src="assets/images/features/f-icon1.png" alt="" />
          </div>
          <h6>Fast Delivery</h6>
          <p>Shipping on all order</p>
        </div>
      </div>
      <!-- single features -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-features">
          <div class="f-icon">
            <img src="assets/images/features/f-icon2.png" alt="" />
          </div>
          <h6>Return Policy</h6>
          <p>Shipping on all order</p>
        </div>
      </div>
      <!-- single features -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-features">
          <div class="f-icon">
            <img src="assets/images/features/f-icon3.png" alt="" />
          </div>
          <h6>24/7 Support</h6>
          <p>Shipping on all order</p>
        </div>
      </div>
      <!-- single features -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-features">
          <div class="f-icon">
            <img src="assets/images/features/f-icon4.png" alt="" />
          </div>
          <h6>Secure Payment</h6>
          <p>Shipping on all order</p>
        </div>
      </div>
    </div>
  </div>
</section>
