<div class="container">
  <div class="row">
    <section class="col-md-3">
      <h5 class="text-warning ms-3">Sort</h5>
      <select class="form-select mb-4" (change)="onSortSelected($event)">
        <option *ngFor="let sort of sortOptions" [value]="sort.value">
          {{ sort.name }}
        </option>
      </select>

      <h5 class="d-block d-md-none text-warning ms-3">Brands</h5>
      <select
        class="d-block d-md-none form-select mb-4"
        (change)="onBrandSelectedDropDown($event)"
      >
        <option *ngFor="let brand of brands" [value]="brand.id">
          {{ brand.name }}
        </option>
      </select>

      <h5 class="d-block d-md-none text-warning ms-3">Types</h5>
      <select
        class="d-block d-md-none form-select mb-4"
        (change)="onTypeSelectedDropDown($event)"
      >
        <option *ngFor="let type of types" [value]="type.id">
          {{ type.name }}
        </option>
      </select>

      <!-- <div class="d-none d-md-block"> -->
        <h5 class="d-none d-md-block text-warning ms-3">Brands</h5>
        <ul class="d-none d-md-block list-group my-3">
          <li
            class="list-group-item"
            *ngFor="let brand of brands"
            [class.active]="brand.id === shopParams.brandId"
            [value]="brand.id"
            (click)="onBrandSelected(brand.id)"
          >
            {{ brand.name }}
          </li>
        </ul>
        <h5 class="d-none d-md-block text-warning ms-3">Types</h5>
        <ul class="d-none d-md-block list-group my-3">
          <li
            class="list-group-item"
            *ngFor="let type of types"
            [class.active]="type.id === shopParams.typeId"
            [value]="type.id"
            (click)="onTypeSelected(type.id)"
          >
            {{ type.name }}
          </li>
        </ul>
      <!-- </div> -->
    </section>
    <section class="col-md-9">
      <div class="d-flex justify-content-between align-items-center pb-2">
        <app-paging-header
          [totalCount]="totalCount"
          [pageNumber]="shopParams.pageNumber"
          [pageSize]="shopParams.pageSize"
        ></app-paging-header>

        <div class="d-flex mt-2">
          <input
            (keyup.enter)="onSearch()"
            type="text"
            placeholder="Search"
            class="form-control me-2"
            #search
          />
          <button (click)="onSearch()" class="btn btn-outline-primary mx-2">
            Search
          </button>
          <button (click)="onReset()" class="btn btn-outline-success">
            Reset
          </button>
        </div>
      </div>

      <div class="row g-3 mb-4">
        <div class="col-6 col-md-4" *ngFor="let product of products">
          <app-product-item [product]="product"></app-product-item>
        </div>
      </div>

      <div class="d-flex justify-content-center" *ngIf="totalCount > 0">
        <app-pager
          [totalCount]="totalCount"
          [pageSize]="shopParams.pageSize"
          (pageChanged)="onPageChanged($event)"
        ></app-pager>
      </div>
    </section>
  </div>
</div>
