<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom">
      <a class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" routerLink="/">
        <img src="/assets/images/logo.png" styles="pointer: true" alt="logo" style="max-height: 70px;">
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li ><a class="nav-link px-2" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a class="nav-link px-2" routerLink="/shop" routerLinkActive="active">Shop</a></li>
        <li><a class="nav-link px-2" routerLink="/test-error" routerLinkActive="active">Contact</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary position-relative me-2">
          <i class="fa fa-shopping-cart "></i>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
            5
            <span class="visually-hidden">cart</span>
          </span>
        </button>
        <button type="button" class="btn btn-outline-primary me-2">Login</button>
        <button type="button" class="btn btn-primary">Sign Up</button>
      </div>
    </header>
  </div>